        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'employeTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'employeTabPan' | translate}}">
                        <div class="grid">


                                        <div class="field col-12 md:col-3">
                                            <label for="1">{{'employeIdentifiantJlinx' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeIdentifiantJlinx' | translate}}" id="1" [(ngModel)]="item.identifiantJlinx"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="2">{{'employeMatricule' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeMatricule' | translate}}" id="2" [(ngModel)]="item.matricule"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="3">{{'employePrenom' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employePrenom' | translate}}" id="3" [(ngModel)]="item.prenom"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="4">{{'employeNom' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeNom' | translate}}" id="4" [(ngModel)]="item.nom"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="5">{{'employeSituation' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeSituation' | translate}}" id="5" [(ngModel)]="item.situation"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="6">{{'employeDateNaissance' | translate}}</label>
                                            <p-calendar appendTo="body" id="6"   [showTime]="true" [showSeconds]="false" placeholder="{{'employeDateNaissance' | translate}}"  [(ngModel)]="item.dateNaissance"
                                                      >
                                            </p-calendar>
                                            
                                        </div>

                                    <div class="field col-11 md:col-2">
                                            <label for="7">{{'employeSexe' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="sexes" [(ngModel)]="item.sexe" id="7"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="libelle" placeholder="{{'employeSexe' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateSexe('Sexe')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="8">{{'employeAdresse' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeAdresse' | translate}}" id="8" [(ngModel)]="item.adresse"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="9">{{'employeVille' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeVille' | translate}}" id="9" [(ngModel)]="item.ville"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="10">{{'employeCin' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeCin' | translate}}" id="10" [(ngModel)]="item.cin"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="11">{{'employeNumeroAdhesion' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeNumeroAdhesion' | translate}}" id="11" [(ngModel)]="item.numeroAdhesion"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="12">{{'employeEmail' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeEmail' | translate}}" id="12" [(ngModel)]="item.email"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="13">{{'employeRib' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeRib' | translate}}" id="13" [(ngModel)]="item.rib"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="14">{{'employeAge' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="14"
                                                           placeholder="{{'employeAge' | translate}}" [(ngModel)]="item.age"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="15">{{'employeNumeroTelephone' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeNumeroTelephone' | translate}}" id="15" [(ngModel)]="item.numeroTelephone"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="16">{{'employeEmergencyContact' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeEmergencyContact' | translate}}" id="16" [(ngModel)]="item.emergencyContact"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="17">{{'employeNumeroSecuriteSociale' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeNumeroSecuriteSociale' | translate}}" id="17" [(ngModel)]="item.numeroSecuriteSociale"
                                                     />
                                            
                                        </div>

                                    <div class="field col-11 md:col-2">
                                            <label for="18">{{'employeDepartement' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="departements" [(ngModel)]="item.departement" id="18"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="id" placeholder="{{'employeDepartement' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>

                                    <div class="field col-11 md:col-2">
                                            <label for="19">{{'employeCategorieEmploye' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="categorieEmployes" [(ngModel)]="item.categorieEmploye" id="19"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="libelle" placeholder="{{'employeCategorieEmploye' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateCategorieEmploye('CategorieEmploye')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                    <div class="field col-11 md:col-2">
                                            <label for="20">{{'employePromotion' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="promotions" [(ngModel)]="item.promotion" id="20"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="libelle" placeholder="{{'employePromotion' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="21">{{'employeWarnningNotice' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'employeWarnningNotice' | translate}}" id="21" [(ngModel)]="item.warnningNotice"
                                                     />
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="22">{{'employeCost' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="22"
                                                           placeholder="{{'employeCost' | translate}}" [(ngModel)]="item.cost"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="23">{{'employeAssuranceCost' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="23"
                                                           placeholder="{{'employeAssuranceCost' | translate}}" [(ngModel)]="item.assuranceCost"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                    <div class="field col-11 md:col-2">
                                            <label for="24">{{'employeEducation' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="educations" [(ngModel)]="item.education" id="24"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="libelle" placeholder="{{'employeEducation' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateEducation('Education')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="field align-inputswitch col-12  md:col-3">
                                            <div  class="label-inputswitch">
                                                <label for="25">{{'employeEtude' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch   appendTo="body" id="25"  [(ngModel)]="item.etude"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>

                                        <div class="field align-inputswitch col-12  md:col-3">
                                            <div  class="label-inputswitch">
                                                <label for="26">{{'employeExperience' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch   appendTo="body" id="26"  [(ngModel)]="item.experience"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>

                                        <div class="field col-12 md:col-3">
                                            <label for="27">{{'employeSalaire' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="27"
                                                           placeholder="{{'employeSalaire' | translate}}" [(ngModel)]="item.salaire"  >
                                            </p-inputNumber>
                                            
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-sexe-create-admin></app-sexe-create-admin>
                    <app-categorie-employe-create-admin></app-categorie-employe-create-admin>
                    <app-education-create-admin></app-education-create-admin>


    </p-dialog>
