
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'stationTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'stationTabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'Code' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Code' | translate}}" autofocus  id="1" [(ngModel)]="item.code">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'Employe' | translate}}</label>
                        <p-dropdown [options]="employes" [(ngModel)]="item.employe" id="2" [disabled]="true" optionLabel="id" placeholder="{{'Employe' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'Ville' | translate}}</label>
                        <p-dropdown [options]="villes" [(ngModel)]="item.ville" id="3" [disabled]="true" optionLabel="libelle" placeholder="{{'Ville' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'Adresse' | translate}}</label>
                        <textarea id="4" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'Adresse' | translate}}"  [(ngModel)]="item.adresse"></textarea>
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="stationDepartements">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.departements" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Siege</th>
                                        <th>Nbr employe</th>
                                        <th>Moyenne age</th>
                                        <th>Employe</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.siege?.libelle}}</td>
                                        <td>{{p.nbrEmploye}}</td>
                                        <td>{{p.moyenneAge}}</td>
                                        <td>{{p.employe?.id}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



