
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'newsTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'newsTabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-4">
                        <label for="1">{{'Ref' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Ref' | translate}}" autofocus  id="1" [(ngModel)]="item.ref">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="2">{{'Libelle' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Libelle' | translate}}" autofocus  id="2" [(ngModel)]="item.libelle">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="3">{{'Image' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Image' | translate}}" autofocus  id="3" [(ngModel)]="item.image">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="4">{{'Description' | translate}}</label>
                        <textarea id="4" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'Description' | translate}}"  [(ngModel)]="item.description"></textarea>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="5">{{'Date news' | translate}}</label>
                        <p-calendar id="5" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'Date news' | translate}}"  [(ngModel)]="item.dateNews" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field align-inputswitch col-12  md:col-4">
                        <div  class="label-inputswitch">
                            <label for="6">{{'Archive' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="6"  [disabled]="true" [(ngModel)]="item.archive"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="7">{{'Numero ordre' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="7" [disabled]="true" placeholder="{{'Numero ordre' | translate}}" [(ngModel)]="item.numeroOrdre"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="8">{{'Destinataire' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Destinataire' | translate}}" autofocus  id="8" [(ngModel)]="item.destinataire">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



